<!DOCTYPE html>
<html>
	<head>
		<!-- Add meta tags here -->
		<title>Creative</title>
		<!-- Add custom CSS here -->
		<link href="/static/css/style.css" type="text/css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:400,700,400italic' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=La+Belle+Aurore' rel='stylesheet' type='text/css'>
		<meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
		<link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
		<link rel="icon" href="/static/img/favicon.ico" type="image/x-icon">	
		<script type="text/javascript" src="/static/js/jquery-1.10.2.js" charset="utf-8"></script>
		<script	type="text/javascript" src="/static/js/masonry.pkgd.js"></script>
		<script	type="text/javascript" src="/static/js/imagesloaded.pkgd.min.js"></script>
		<script type="text/javascript" src="/static/js/script.js" charset="utf-8"></script>
		<script src="jqlight.lazyloadxt.js"></script>
	<script src="jquery.lazyloadxt.js"></script>
	</head>
	<body>
		<div id="toggle" >&#9776;</div>
		<div id="nav-bar">
			<a href="/creative">Creative Pursuits</a> |
			<a href="/projects">Projects</a> |
			<a href="https://www.linkedin.com/in/jacburge/" target="_blank"">Resume</a>	
		</div>
		<div id="nav-bar-mobile">
			<a href="/creative">Creative Pursuits</a><br>
			<a href="/projects">Projects</a><br>
			<a href="https://www.linkedin.com/in/jacburge/" target="_blank">Resume</a>
		</div>
		
		<div class="center">
			<a href="/"><div class="creative-logo"></div></a>
			<div id="creative-tabs">
				 <a id="artwork-tab" style="color:#006666;text-decoration: underline;">Artwork</a>		|	<a id="photography-tab" style="color:#333333;text-decoration:  none;">Photography</a>	| <a id="music-tab">Music</a>
			</div>
			<section id="artwork" style="display:inline-block">
				<div class="creative-text">In 2013 I spent the summer at Ewha Woman’s University in Seoul, Korea studying Traditional East Asian painting. It was a glorious experience as I immersed myself in the Korean half of my culture for the first time in my life, with no prior understanding of the language. Perhaps most special to me was knowing that I was retracing the steps of my grandmother and grand aunt, who graduated from Ewha studying piano and art, respectively. The first few items below showcase some of what I learned from that summer.
					<br><br>
					In 2017, I set out with the New Years Resolution of making art (of any medium) once a week, and have continued creating regularly ever since. Several of the pieces below are from that project. I called it "Art For Gall" (#artforgall on instagram). From practicing qigong I learned that in Chinese medical theory, the gallbladder channel is related to boosting confidence (hence, the use of the word "gall" for bold behavior). I believe creativity takes practice, and is not limited to only those perceived to have "innate" talent. Anyone who wishes to be creative just needs to find the confidence within themselves to be so.<br><br>
					</div>
				<div class="photo-grid">
				<!-- 	<div class="photo">
						<img class="grid-item" src="../static/img/Art/fan-full.PNG" data-src="../static/img/Art/fan-full.PNG">
					</div> -->
					
					<div class="photo">
						<img class="grid-item"src="../static/img/Art/cherry.jpg"data-src="../static/img/Art/cherry.jpg">
			
					</div>
					
					
					<div class="photo">
						<img class="grid-item" src="../static/img/Art/bamboo.JPG"data-src="../static/img/Art/bamboo.JPG">
					</div>
					<div class="photo">
						<img class="grid-item" src="../static/img/Art/blossoms-close.jpg"data-src="../static/img/Art/blossoms-close.jpg">
					</div>
					<div class="photo">
						<img class="grid-item"src="../static/img/Art/fan-close.JPG"data-src="../static/img/Art/fan-close.JPG">
					</div>
				<!-- 	<div class="photo">
						<img class="grid-item"src="../static/img/Art/blossoms-small.JPG"data-src="../static/img/Art/blossoms-small.JPG">
					</div> -->
					<div class="photo">
						<img class="grid-item"src="../static/img/Art/orchid.JPG"data-src="../static/img/Art/orchid.JPG">
					</div>

<!-- 					<div class="photo">
						<img class="grid-item"src="../static/img/Art/artbar.JPG">
					</div> -->
						<div class="photo">
						<img class="grid-item"src="../static/img/Art/crane.jpg"data-src="../static/img/Art/crane.jpg">
					</div>
					<div class="photo">
						<!-- <img class="grid-item"src="../static/img/jfb.svg"data-src="../static/img/jfb.svg"> -->
					</div>
					<div class="photo">
						<img class="grid-item"src="../static/img/Art/iris.jpg"data-src="../static/img/Art/iris.jpg">
					</div>
					<div class="photo">
						<img class="grid-item"src="../static/img/Art/fan.JPG"data-src="../static/img/Art/fan.JPG">
					</div>
					<div class="photo">
						<img class="grid-item"src="../static/img/Art/lemons.JPG"data-src="../static/img/Art/lemons.JPG">
					</div>
					<div class="photo">
						<img class="grid-item"src="../static/img/Art/italy.JPG"data-src="../static/img/Art/italy.JPG">
					</div>
					<div class="photo">
						<img class="grid-item"src="../static/img/Art/moon.JPG"data-src="../static/img/Art/moon.JPG">
					</div>
					<div class="photo">
						<img class="grid-item"src="../static/img/Art/sun.JPG"data-src="../static/img/Art/sun.JPG">
					</div>
					<div class="photo">
						<img class="grid-item"src="../static/img/Art/creativitea.JPG"data-src="../static/img/Art/creativitea.JPG">
					</div>
					<div class="photo">
						<img class="grid-item"src="../static/img/Art/bobrossocean.JPG"data-src="../static/img/Art/bobrossocean.JPG">
					</div>
					<div class="photo">
						<img class="grid-item"src="../static/img/Art/beluga.JPG"data-src="../static/img/Art/beluga.JPG">
					</div>
					<div class="photo">
						<img class="grid-item"src="../static/img/Art/aloha.jpg"data-src="../static/img/Art/aloha.jpg">
					</div>
					<div class="photo">
						<img class="grid-item"src="../static/img/Art/slo.JPG"data-src="../static/img/Art/slo.JPG">
					</div>
					<div class="photo">
						<img class="grid-item"src="../static/img/Art/home.JPG"data-src="../static/img/Art/home.JPG">
					</div>
					<div class="photo">
						<img class="grid-item"src="../static/img/Art/me.JPG"data-src="../static/img/Art/me.JPG">
					</div>

				
					<!-- <div class="photo"> -->
						<!-- <img class="grid-item"src="../static/img/Art/panda.jpg"data-src="../static/img/Art/panda.jpg"> -->
					<!-- </div> -->
	<!-- 				<div class="photo">
						<img class="grid-item"src="../static/img/Art/eclipse.JPG"data-src="../static/img/Art/eclipse.JPG">
					</div> -->
					<div class="photo">
						<img class="grid-item"src="../static/img/Art/roots.JPG"data-src="../static/img/Art/roots.JPG">
					</div>
					<div class="photo">
						<img class="grid-item"src="../static/img/Art/yinyangfish.jpg"data-src="../static/img/Art/yinyangfish.jpg">
					</div>
	<!-- 				<div class="photo">
						<img class="grid-item"src="../static/img/Art/alpaca.JPG"data-src="../static/img/Art/alpaca.JPG">
					</div> -->
<!-- 					<div class="photo">
						<img class="grid-item"src="../static/img/Art/dragon.jpg"data-src="../static/img/Art/dragon.jpg">
					</div> -->
					<div class="photo">
						<img class="grid-item"src="../static/img/Art/jackalope.jpg"data-src="../static/img/Art/jackalope.jpg">
					</div>
					<div class="photo">
						<!-- <img class="grid-item"src="../static/img/Art/bobross.jpg"data-src="../static/img/Art/bobross.jpg"> -->
					</div>
					<div class="photo">
						<img class="grid-item"src="../static/img/Art/geobear.jpg"data-src="../static/img/Art/geobear.jpg">
					</div>
					<div class="photo">
						<img class="grid-item"src="../static/img/Art/watercolorcrane.JPG"data-src="../static/img/Art/watercolorcrane.JPG">
					</div>
					<div class="photo">
						<img class="grid-item"src="../static/img/Art/arirang.jpg"data-src="../static/img/Art/arirang.jpg">
					</div>
					<div class="photo">
						<img class="grid-item"src="../static/img/Art/dance.JPG"data-src="../static/img/Art/dance.JPG">
					</div>
					<div class="photo">
						<img class="grid-item"src="../static/img/Art/scoliosis.JPG"data-src="../static/img/Art/scoliosis.JPG">
					</div>
					<div class="photo">
						<!-- <img class="grid-item"src="../static/img/Art/jump.jpg"data-src="../static/img/Art/jump.jpg"> -->
					</div>
					<div class="photo">
						<img class="grid-item"src="../static/img/Art/pubu.jpg"data-src="../static/img/Art/pubu.jpg">
					</div>
					<div class="photo">
						<!-- <img class="grid-item"src="../static/img/Art/badajang.jpg"data-src="../static/img/Art/badajang.jpg"> -->
					</div>
					<div class="photo">
						<img class="grid-item"src="../static/img/Art/broadsword.jpg"data-src="../static/img/Art/broadsword.jpg">
					</div>
<!-- 					<div class="photo">
						<img class="grid-item"src="../static/img/Art/bear.JPG">
					</div> -->
		<!-- 			<div class="photo">
						<img class="grid-item"src="../static/img/Art/ark.jpeg">
					</div>
					<div class="photo">
						<img class="grid-item"src="../static/img/Art/seasons.JPG">
					</div> -->
<!-- 					<div class="photo">
						<img class="grid-item"src="../static/img/Art/hands.JPG">
					</div> -->
					<div class="photo">
						<img class="grid-item"data-src="../static/img/Art/jelly.JPG">
					</div>
<!-- 					<div class="photo">
						<img class="grid-item"src="../static/img/Art/greatminds.JPG">
					</div> -->
<!-- 					<div class="photo">
						<img class="grid-item"src="../static/img/Art/road.JPG">
					</div> -->
	<!-- 				<div class="photo">
						<img class="grid-item"src="../static/img/Art/sfbridge.JPG">
					</div> -->
<!-- 					<div class="photo">
						<img class="grid-item"src="../static/img/Art/slippers.JPG">
					</div> -->
			</section>
			<section id="photography" style="display:none">
				<div class="creative-text">Just a small glimpse into how I view the world.</div>
				<a class="embedly-card" href="https://instagram.com/sumi_field/">Jaclyn (수미) (@sumi_field) * Instagram photos and videos</a>
				<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
				<div class="creative-text">Some personal favorites:</div>

				<div class="photo-grid">
					<div class="photo">
						<img class="grid-item"src="../static/img/Photography/matterhorn.JPG"data-src="../static/img/Photography/matterhorn.JPG">
					</div>
					<div class="photo">
						<img class="grid-item"src="../static/img/Photography/travestere.JPG"data-src="../static/img/Photography/travestere.JPG">
					</div>
					<div class="photo">
						<img class="grid-item"src="../static/img/Photography/eiffel.JPG"data-src="../static/img/Photography/eiffel.JPG">
					</div>
					<div class="photo">
						<img class="grid-item"src="../static/img/Photography/italy.jpg"data-src="../static/img/Photography/italy.jpg">
					</div>
					<div class="photo">
						<img class="grid-item"src="../static/img/Photography/korea.JPG"data-src="../static/img/Photography/korea.JPG">
					</div>
					<div class="photo">
						<img class="grid-item"src="../static/img/Photography/goldengate.jpg"data-src="../static/img/Photography/goldengate.jpg">
					</div>
					<div class="photo">
						<img class="grid-item"src="../static/img/Photography/ladies.JPG"data-src="../static/img/Photography/ladies.JPG">
					</div>
					
					<div class="photo">
						<img class="grid-item"src="../static/img/Photography/doe.JPG"data-src="../static/img/Photography/doe.JPG">
					</div><div class="photo">
						<img class="grid-item"src="../static/img/Photography/tivoli.JPG"data-src="../static/img/Photography/tivoli.JPG">
					</div>
					<div class="photo">
						<img class="grid-item"src="../static/img/Photography/napali.JPG"data-src="../static/img/Photography/napali.JPG">
					</div>
				</div>	
				<br><br><br>
			</section>
			<section id="music" style="display:none;line-height:1.5">
				<div class="creative-text">
					Music is a moral law. It gives soul to the universe, wings to the mind, flight to the imagination, and charm and gaiety to life and to everything. - Plato</div>
				<div id="creative-piano"></div>
				<div class="text-box">
					<span class="aurore">Experience</span>
					<ul>
						<li>Volunteer pianist at various Berkeley senior homes and the Alzheimer's Services of the East Bay weekly (2014-2015)</li>
						<li>Wedding Pianist (Nov 2013)</li>
						<li>Performed Beethoven's Piano Concerto #2 with Kingsburg High School wind ensemble (2011)</li>
						<li>Piano accompanist for performance of Glazunov's Saxophone Concerto in E flat major, Op.109 (2011)</li>
						<li>1 year of percussion in Kingsburg High School symphonic band (2010-2011)</li>
						<li>Piano Solo Festival at Fresno State University rating 'Excellent' for Debussy's Clair de Lune (2010)</li>
						<li>Volunteered as weekly pianist for local senior home (2008-2010)</li>
						<li>Pipe Organ Encounters sponsored by the American Guild of Organists in Seattle (2008) and San Diego (2009)</li>
						<li>Piano Solo Festival at Fresno State University rating 'Excellent' for Beethoven's Sonata Op.14 No.2 (2008)</li>
						<li>Play for offertory and Christmas Eve service at home church on occasion</li>
					</ul>
				</div>
				<br>
				<div id="creative-ego"></div>
				<div class="text-box">
					<span class="aurore">Training</span><br>
					<ul>
						<li>13 years of piano lessons</li>
						<li>2 years of pipe organ lessons</li>
						<li>1 year of percussion in Kingsburg High School symphonic band</li>
						<li>Music 98: Traditional Korean Percussion (UC Berkeley)</li>
						<li>Music 128: History of the Symphony (UC Berkeley)</li>
						<li>Music 109: Music Cognition (UC Berkeley)
						<li>Music 135: Musics of the Caribbean (UC Berkeley)</li>
						<li>Music 148: African Percussion (UC Berkeley)</li>
					</ul>
				</div>
				<br><br><br>
			</section>

			<br><br><br>
					<div id="footer">Made with &#10084; from scratch by Jaclyn &copy; 2019</div>
					<br><br><br>
	</body>
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-50550538-1', 'auto');
  ga('send', 'pageview');

</script>
</html>