<!DOCTYPE html>
<html>
	<head>
		<!-- Add meta tags here -->
		<title>Home</title>
		<link rel="image_src" href="../static/img/jfb.svg" />
		<!-- Add custom CSS here -->
		<link href="/static/css/style.css" type="text/css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:400,700,400italic' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=La+Belle+Aurore' rel='stylesheet' type='text/css'>
		<meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
		<link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
		<link rel="icon" href="../static/img/favicon.ico" type="image/x-icon">	
		<script type="text/javascript" src="/static/js/jquery-1.10.2.js" charset="utf-8"></script>
		<script type="text/javascript" src="/static/js/script.js" charset="utf-8"></script>
	</head>
	<body>
		<div id="toggle" >&#9776;</div>
		<div id="nav-bar">
			<a href="/creative">Creative Pursuits</a> |
			<a href="/projects">Side Projects</a> |
			<a href="/resume">Resume</a>	
		</div>
		<div id="nav-bar-mobile">
			<a href="/creative">Creative Pursuits</a><br>
			<a href="/projects">Side Projects</a><br>
			<a href="/resume">Resume</a>
		</div>
	<section id="home-top">
		<div class="center">
			<div id="home-logo"></div>
			<div class="opaque">
			<div id="home-title">
				Jaclyn Field Burge</div>
			<div id="home-subtext">
				{Data Analyst} {Web Developer} {Freelancer}</div>
			</div>
		</div>
	</section>
	<section id="home-mid">
			<div class="text-box">
				<span class="aurore">My name is Jaclyn. Nice to meet you!</span><br>
			A California native, I currently live in <b>Seattle</b> working as a <b>data analyst</b> after graduating from UC Berkeley with a degree in Cognitive Science. As a "<a href="http://dictionary.reference.com/wordoftheday/2011/02/08/philomath">philomath</a>," I am always in the pursuit of mastering new skills, sharing and acquiring knowledge, and freelancing for fun side projects. I enjoy spending my time:
			<ul>
			<li>finding meaning from numbers</li><br>
			<li>working on <b>web development</b> and design projects</li><br>
			<li>studying Internal Chinese <b>Martial Arts</b> (<a href="http://www.energyarts.com/bagua-tai-chi">tai chi + baguazhang </a>)</li><br>
			<li>playing <b>piano</b> and sharing music with communities (including senior homes, weddings, and church services; personal favorites: Chopin, Debussy, Beethoven, Eiunadi; may also be found jamming with my djembe or other multicultural percussion instruments)</li><br>
			<li>being a classic introvert (<b>painting</b>, sketching, <a href="http://goodreads.com/jacburge">reading</a>, journaling, coffee shop hopping, meditating, and traveling solo)</li><br>
			<li>exchanging handwritten pen pal letters</li><br>
			<li><b>teaching</b>, tutoring, and mentoring</li><br>
			<li>contemplating and discussing ideas surrounding topics such as quantum consciousness, education accessibility, minimalist living, <a href="http://www.16personalities.com/intj-personality">personality types</a>, and improving quality of life for elders</li><br>
			<li>and making lists. For everything.</li>
			</ul>
			</div>
			<img class="img-holder" src="../static/img/optimum.jpg">
			<div id="pc">Photo Credit (including top photo): <a href="http://corymaryott.com" style="font-size:16px">Cory Maryott</a></div>
		<div class="text-box">
			<span class="aurore" >Interested in my work, sharing ideas, or collaborating?</span><br>Available for personal websites, artwork, college mentorship, and piano or djembe accompaniment.<br><br>

			<div style="margin-left:10%">
			<b>Find me at:</b><br><br>
			<a href="mailto:jacburge@gmail.com" target="_blank">Gmail/jacburge</a><br><br>
			<a href="http://linkedin.com/in/jacburge" target="_blank">LinkedIn/jacburge</a><br><br>
			<a href="http://github.com/jacburge" target="_blank">GitHub/jacburge</a><br><br>
			<a href="http://instagram.com/sumi_field" target="_blank">Instagram/sumi_field</a><br><br>
			<a href="http://twitter.com/jac_burge" target="_blank">Twitter/jac_burge<br><br>
			</div>
			<hr>
			<div id="footer">Made with &#10084; from scratch by Jaclyn &copy; 2016</div>

	</div>
		<br><br><br>		
	</section>	
	</body>
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-50550538-1', 'auto');
  ga('send', 'pageview');

</script>
</html>