<!DOCTYPE html>
<html>
	<head>
		<!-- Add meta tags here -->
		<title>Home</title>
		<!-- Add custom CSS here -->
		<link href="/static/css/style.css" type="text/css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:400,700,400italic' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=La+Belle+Aurore' rel='stylesheet' type='text/css'>
		<meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
		<link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
		<link rel="icon" href="/static/img/favicon.ico" type="image/x-icon">	
		<script type="text/javascript" src="/static/js/jquery-1.10.2.js" charset="utf-8"></script>
		<script type="text/javascript" src="/static/js/script.js" charset="utf-8"></script>
	</head>
	<body>
		<div id="toggle" >&#9776;</div>
		<div id="nav-bar">
			<a href="/">Home | About | Contact</a><br>
			<a href="/creative">Creative Pursuits</a><br>
			<a href="/projects">Projects</a><br>
			<a href="/resume">Resume</a>	
		</div>
	<section id="home-top">
		<div class="center">
			<div id="home-circle"></div>
			<div class="opaque">
			<div id="home-title">
				Jaclyn Field Burge</div>
			<div id="home-subtext">
				{Data Analyst} {Web Developer} {Professional Hobbyist}</div>
			</div>
		</div>
	</section>
	<section id="home-mid">
			<div class="text-box">
				<span class="aurore">Nice to meet you!</span><br>
			A California native, I currently live in <b>Seattle</b> working as a <b>data analyst</b> after graduating from UC Berkeley with a degree in Cognitive Science. As a "professional hobbyist," I am always in the pursuit of mastering new skills, sharing and acquiring knowledge, and sometimes getting paid for fun side projects. I enjoy spending my time:
			<ul>
			<li>finding meaning from numbers</li><br>
			<li>working on <b>freelance</b> web development and design projects</li><br>
			<li>studying Internal Chinese <b>Martial Arts</b> (tai chi + baguazhang)</li><br>
			<li>playing <b>piano</b> and sharing music with my communities (personal favorites: Chopin, Debussy, Beethoven, Eiunadi)</li><br>
			<li>being a classic introvert (<b>painting</b>, sketching, reading, journaling, coffee shop hopping, and traveling solo)</li><br>
			<li>writing handwritten pen pal letters</li><br>
			<li><b>teaching</b>, tutoring, and mentoring</li><br>
			<li>contemplating and discussing topics such as quantum consciousness, education accessibility, minimalist living, personality types, and improving quality of life for elders</li><br>
			<li>and making lists.</li>
			</ul>
			</div>
			<img class="img-holder" src="../static/img/optimum.jpg">
			<div id="pc">Photo Credit (including top photo): <a href="http://corymaryott.com" style="font-size:16px">Cory Maryott</a></div>
		<div class="text-box">
			<span class="aurore" >Interested in my work, sharing ideas, or collaborating?</span><br><br>
			<div style="margin-left:10%">
			<b>Find me at:</b><br><br>
			<a href="mailto:jacburge@gmail.com" target="_blank">Gmail/jacburge</a><br><br>
			<a href="http://linkedin.com/in/jacburge" target="_blank">LinkedIn/jacburge</a><br><br>
			<a href="htpp://github.com/jacburge" target="_blank">GitHub/jacburge</a><br><br>
			<a href="http://instagram.com/sumi_field" target="_blank">Instagram/sumi_field</a><br><br>
			<a href="http://twitter.com/jac_burge" target="_blank">Twitter/jac_burge<br><br>
			</div>
			<hr>
			<div id="footer">Made with &#10084; from scratch by Jaclyn &copy; 2016</div>

	</div>
		<br><br><br>		
	</section>	
	</body>
</html>