<!DOCTYPE html>
<html>
	<head>
		<!-- Add meta tags here -->
		<title>Projects</title>
		<!-- Add custom CSS here -->
		<link href="/static/css/style.css" type="text/css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:400,700,400italic' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=La+Belle+Aurore' rel='stylesheet' type='text/css'>
		<meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
		<link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
		<link rel="icon" href="/static/img/favicon.ico" type="image/x-icon">	
		<script type="text/javascript" src="/static/js/jquery-1.10.2.js" charset="utf-8"></script>
		<script type="text/javascript" src="/static/js/script.js" charset="utf-8"></script>
	</head>
	<body>
		<div id="toggle" >&#9776;</div>
		<div id="nav-bar">
			<a href="/creative">Creative Pursuits</a> |
			<a href="/projects">Projects</a> |
			<a href="/resume">Resume</a>	
		</div>
		<div id="nav-bar-mobile">
			<a href="/creative">Creative Pursuits</a><br>
			<a href="/projects">Projects</a><br>
			<a href="/resume">Resume</a>
		</div>
		<div class="center">
			<a href="/"><div class="creative-logo"></div></a>
			<div id="project-title">Selected works</div>
			<div class="creative-text">A few things I get excited about</div>
			<div class="project-item" id="slammm-tab">Creative Community</div>
				<div class="project-content" id="slammm-content"><h3 style="font-family: 'La Belle Aurore', cursive"><a href="https://www.youtube.com/watch?v=eo6q5U0X6-0&" target="_blank">{ Salon (for) Literary, Artistic, Musical, & Movement Mash-ups }</a></h3>
					<img class="project-img" src="../static/img/SLAMMM.jpg"><br><br>

				Salon [səˈlän] n. 1. A periodic assembly of guests, particularly a gathering of literary, artistic, social, cultural, or intellectual distinction.<br><br>

				SLAMMM: Salon (for) Literary, Artistic, Musical, & Movement Mash-ups. My vision for this group is to be an open community in the Seattle area fostering the sharing of art, ideas, and passions, alongside the interactive blending of talents for new creative mashups. The only requirement to attend is bringing a “creative contribution” of your choice to share in a casual jam-setting (the opportunities are truly limitless here). Feel free to contact me for more details or if you'd like to stay in the loop. All are welcome!<br><br>
					
	
				</div>
			<div class="project-item" id="mighty-tab">Album Art Design</div>
				<div class="project-content" id="mighty-content">Create album cover artwork and graphic design edits for Oakland musician Mighty Quinn's latest releases and provide website updates for his site <a href="http://iammightyquinn.com" target="_blank">{iammightyquinn.com}</a>.<br><br>
					<img class="project-img" src="../static/img/inloveagain.jpg">
					<img class="project-img" src="../static/img/kiltkimono.JPG">
				</div>
			<div class="project-item" id="starfire-tab">Websites</div>
				<div class="project-content" id="starfire-content">
				[In Progress] Redesigning <a href="http://www.wudangdanpai.com/" target="_blank">{www.wudangdanpai.com}</a> with a more modern look (original site developed in 1999) with a brighter, simpler, more modern look, used to advertise internal Chinese martial arts classes in Seattle, WA.<br><br>
					<b>New:</b><br>
					<a href="https://wudang-academy.squarespace.com/" target="_blank"><img class="project-img" src="../static/img/newwudang.PNG"></a>
					<br>
					<b>Old:</b><br>
					<a href="http://www.wudangdanpai.com/" target="_blank">
					<img class="project-img" src="../static/img/oldwudang.PNG"></a>
				<hr>

				Redesigned <a href="http://starfire.org" target="_blank">{starfire.org}</a> with a more modern look (original site developed in 1999), used to advertise tai chi classes in the East Bay of California. Webmaster and former assistant instructor.<br><br>
					<b>New:</b><br>
					<a href="http://starfire.org" target="_blank"><img class="project-img" src="../static/img/starfire-new.PNG"></a>
					<br>
					<b>Old:</b><br>
					<img class="project-img" src="../static/img/starfire-original.PNG">
				<hr>
				Developed <a href="http://arpasophia.com" target="_blank">{arpasophia.com}</a> for a harpist to advertise her skills in Chicago.<br><br>
					<a href="http://arpasophia.com" target="_blank"><img class="project-img" src="../static/img/arpasophia.PNG"></a>
				<hr>
				Developed <a href="http://whowillremember.herokuapp.com/" target="_blank">{whowillremember.com}</a> for a film about the Armenian Genocide for a screenwriter in Sacramento Area.<br><br>
					<a href="http://whowillremember.herokuapp.com/" target="_blank"><img class="project-img" src="../static/img/wewillremember.PNG"></a>
					<br>
				</div>

			<!-- <div class="project-item" id="starfire-tab">Starfire Tai Chi</div>
				<div class="project-content" id="starfire-content">Redesigned <a href="http://starfire.org" target="_blank">{starfire.org}</a> with a more modern look (original site developed in 1999), used to advertise tai chi classes in the East Bay of California. Webmaster and former assistant instructor.<br><br>
					<b>New:</b><br>
					<a href="http://starfire.org" target="_blank"><img class="project-img" src="../static/img/starfire-new.PNG"></a>
					<br>
					<b>Old:</b><br>
					<img class="project-img" src="../static/img/starfire-original.PNG">
				</div>
			<div class="project-item" id="arpa-tab">ArpaSophia</div>
				<div class="project-content" id="arpa-content">Developed <a href="http://arpasophia.com" target="_blank">{arpasophia.com}</a> for a harpist to advertise her skills in Chicago.<br><br>
					<a href="http://arpasophia.com" target="_blank"><img class="project-img" src="../static/img/arpasophia.PNG"></a>
				</div>
			<div class="project-item" id="wwr-tab">We Will Remember</div>
				<div class="project-content" id="wwr-content">[In Progress] Developing a website for a film about the Armenian Genocide for a screenwriter in Sacramento Area.<br><br>
					<img class="project-img" src="../static/img/wewillremember.PNG"></a>
					<br>
				</div> -->
			<div class="project-item" id="martial-tab">Martial Arts</div>
				<div class="project-content" id="martial-content">In March 2015, I competed in CMAT (the largest Chinese Martial Arts Tournament in the Western Hemisphere held in Berkeley, CA) and won a gold medal in my division performing the yang style tai chi short weapon fan form. In March 2016, I returned to CMAT to compete in the fan form again at a higher division both individually and in a group with Quinn Walker, winning a gold medal for each event. Currently, I am studying baguazhang, taijiquan, and qigong at the International Wudang Internal Martial Arts Academy and am a member of the demonstration team which regularly performs around Seattle, WA.<br><br>
					<img class="project-img" src="../static/img/fan.jpg"><br>
					<b>Links to demo videos:</b><br><br>
					<a href="https://www.youtube.com/embed/VbCzKxepqA8" target="_blank">{Yang Tai Chi Fan Form: Berkeley, CA}</a><br><br>
					<a href="https://www.youtube.com/watch?v=mjvPw2SMWEs" target="_blank">{Wudang Qigong demo: Seattle Chinese Culture and Arts Festival}</a><br><br>
					<a href="https://www.youtube.com/watch?v=gI3dFgs7jAY" target="_blank">{Wudang Bagua demo: Seattle Dragon Festival}</a>
				<!-- 	<iframe width="560" height="315" id="project-vid" src="https://www.youtube.com/embed/VbCzKxepqA8" frameborder="0" allowfullscreen></iframe>
					<br>
					<iframe width="560" height="315" id="project-vid" src="https://www.youtube.com/watch?v=mjvPw2SMWEs" frameborder="0" allowfullscreen></iframe>
					<br>
					<iframe width="560" height="315" id="project-vid" src="https://www.youtube.com/watch?v=gI3dFgs7jAY" frameborder="0" allowfullscreen></iframe> -->
					<br>
					</div>
			<div class="project-item" id="academic-tab">Academic Projects</div>
				<div class="project-content" id="academic-content">
					A couple favorites from my time at UC Berkeley:
					<ul>
					<li><a href="../static/sChemata.pdf" target="_blank">Technology for Creativity and Learning</a> <em>sChemata: A 3D Digital Hand Gesture Recognition Tool for Studying 3D Concepts in Chemistry</em></li>
					<li><a href="../static/musiccog.pdf" target="_blank">Music Cognition:</a> <em>The Impact of Familiar Music of Rhythmic Playback for Patients with Alzheimer's Disease</em></li>
				</ul>

				</div>

					<br><br><br>
					<div id="footer">Made with &#10084; from scratch by Jaclyn &copy; 2017</div>
					<br><br><br>
		</div>
		

	</body>
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-50550538-1', 'auto');
  ga('send', 'pageview');

</script>
</html>