<!DOCTYPE html>
<html>
	<head>
		<!-- Add meta tags here -->
		<title>Projects</title>
		<!-- Add custom CSS here -->
		<link href="/static/css/style.css" type="text/css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:400,700,400italic' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=La+Belle+Aurore' rel='stylesheet' type='text/css'>
		<meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
		<link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
		<link rel="icon" href="/static/img/favicon.ico" type="image/x-icon">	
		<script type="text/javascript" src="/static/js/jquery-1.10.2.js" charset="utf-8"></script>
		<script type="text/javascript" src="/static/js/script.js" charset="utf-8"></script>
	</head>
	<body>
		<div id="toggle" >&#9776;</div>
		<div id="nav-bar">
			<a href="/">Home | About | Contact</a><br>
			<a href="/creative">Creative Pursuits</a><br>
			<a href="/projects">Projects</a><br>
			<a href="/resume">Resume</a>	
		</div>
		<div class="aurore">Coming Soon!</div>
	</body>
</html>