<!DOCTYPE html>
<html>
	<head>
		<!-- Add meta tags here -->
		<title>Resume</title>
		<!-- Add custom CSS here -->
		<link href="/static/css/style.css" type="text/css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:400,700,400italic' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=La+Belle+Aurore' rel='stylesheet' type='text/css'>
		<meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
		<link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
		<link rel="icon" href="/static/img/favicon.ico" type="image/x-icon">	
		<script type="text/javascript" src="/static/js/jquery-1.10.2.js" charset="utf-8"></script>
		<script type="text/javascript" src="/static/js/script.js" charset="utf-8"></script>
	</head>
	<body style="background-color:#333333">
		<div id="toggle" >&#9776;</div>
		<div id="nav-bar">
			<a href="/creative">Creative Pursuits</a> |
			<a href="/projects">Side Projects</a> |
			<a href="/resume">Resume</a>	
		</div>
		<div id="nav-bar-mobile">
			<a href="/creative">Creative Pursuits</a><br>
			<a href="/projects">Side Projects</a><br>
			<a href="/resume">Resume</a>
		</div>
		<a href="/"><div class="creative-logo"></div></a><br><br>
		<div id="resume-textbox">
			<div id="resume-title">Jaclyn Field Burge</div>
			<hr>
			<div id="resume-sublinks">
			<a href="mailto:jacburge@gmail.com" target="_blank">jacburge@gmail.com</a> | <a href="http://jacburge.me">jacburge.me</a> | <a href="http://linkedin.com/in/jacburge">linkedin/jacburge</a> | Seattle, WA
			</div>
		<br>
			<b>EXPERIENCE</b>
			<hr>
			<b>Data Analyst</b><br>
			Liberty Mutual Insurance - Seattle, WA
			<ul>
				<li><b>Analyst Development Program</b> | <em>Jul 2015 - Present</em> <ul>
					<li class="resume-bullets">Identify key insights in opportunity areas to propose actionable, data-driven recommendations to Senior Management for a Fortune 100 company. Currently focused on predictive modeling and project management for the Auto Product Solutions team.</li></ul>
				</li>
				<li><b>Product Management Intern</b> | <em>May 2014 - Aug 2014</em> <ul>
					<li class="resume-bullets"> Gathered and manipulated data using SAS, SQL, Teradata, Excel, and business reports to investigate ways of reducing risk while maximizing growth.</li>
					<li class="resume-bullets">Presented final recommendation for a countrywide initiative to the Senior VP of Product</li>
					<li class="resume-bullets">Designed slides now used by the company as a positive example for storyboarding training.</li></ul>
			</li>
			</ul>
			<b>Educator</b><br>
			UC Berkeley Computer Science Department - Berkeley, CA
			<ul>
				<li><b>Undergraduate Student Instructor</b> | <em>Aug 2014 - May 2015</em> <ul>
					<li class="resume-bullets">Administered interactive labs and taught discussion sections for students with no prior CS experience. (View course site: <a href="http://cs10.org/fa14">cs10.org/fa14</a>).</li></ul>
				</li>
				<li><b>Reader</b> | <em>Aug 2013 - May 2014</em><ul>
					<li class="resume-bullets">Evaluated and graded student quizzes and projects.</li></ul>
					</li>
				<li><b>Lab Assistant</b> | <em>Jan 13 - May 13</em><ul>
					<li class="resume-bullets">Guided and assisted students with learning the visual programming language Snap!</li></ul></li>
				<li><b>Head of Content Development</b> | <em>Jan 13 - Dec 13</em><ul>
				 	<li class="resume-bullets">Developed and implemented the best techniques in a revolutionary project to bring CS 10 to edX as a MOOC, (launched Fall 2015 at edX.org) with the goal of expanding computer science education accessibility world-wide.</li>
				 	<li class="resume-bullets">Researched user interfaces of free online education for computer science to create a wireframe recommendation for our course structure.</li></ul>
				</li>
			</ul>

			<b>Web Developer</b><br>
			Regents' and Chancellor's Scholarship Association - 
			Berkeley, CA | <em>Jun 2014 - May 2015</em>
			<ul>
				<li class="resume-bullets">Customized styling for the official RCSA site beyond the default bootstrap basics. (View here: <a href="http://rcsa.berkeley.edu">RCSA</a>). </li>
				<li class="resume-bullets">Led a workshop on Git Basics and Intro to HTML/CSS for current scholars. (View here: <a href="tinyurl.com/git-html-css-workshop).">slides).</a></li>
				<li class="resume-bullets">Responsible for front-end of the Scholar Connect program and additional back-end functionality features for the Executive Dashboard.</li>
			</ul>

			<b>Product Manager, Strategic Analyst, and Front-End UI Engineer</b> <br>
			uGuru.me Tutoring Startup - Berkeley, CA | <em>Jul 2013 - Mar 2014</em>
			<ul>
				<li class="resume-bullets">uGuru.me is an early-stage startup following agile methods, making it easy and affordable for college students to find peer tutors.</li>
				<li class="resume-bullets">Designed wireframes and workflow specs and implemented responsive front-end design.</li>
				<li class="resume-bullets">Managed the marketing and growth hacking team with cross-functional communication.</li>
				<li class="resume-bullets">Conducted competitive analysis and usability studies to optimize design and functionality.
				<li class="resume-bullets">Performed data analysis using Google Analytics on 700+ tutor signups and 20k page views to make effective recommendations for marketing strategies.</li>
			</ul>

			<b>Tutor</b> <br>
			SAT Prep - Kingsburg, CA | <em>Jun 2012 - Dec 2012</em></b>
			<ul>
				<li class="resume-bullets">Developed and taught a 3 week intensive and affordable summer group program, preparing high school students to take the SAT in an underprivileged area with limited opportunities.</li>
				<li class="resume-bullets">Helped all 10 students increase their SAT scores by an average of 200 points during the program.</li>
				<li class="resume-bullets">Provided continued mentorship throughout the college application process.</li>
			</ul>

			<b>EDUCATION</b>
			<hr>
			<b>University of California, Berkeley</b><br>
			Bachelor of Arts, Cognitive Science, emphasis in Computer Science | <em>Aug 2011 - May 2015</em>
			<ul>
				<li><b>Awards: </b><span class="resume-bullets">Regents’ and Chancellor’s Scholar, Outstanding Graduate Student Instructor Award 2014-15</span></li>
				<li><b>Relevant Coursework: </b><span class="resume-bullets">Structure and Interpretation of Computer Programs; Discrete Mathematics, Probability, and Algorithms; Technology for Creativity and Learning (Graduate School of Information); Cognitive Neuroscience; Computational Models of Cognition</span></li>
			</ul>

			<b>TECHNICAL SKILLS</b>
			<hr>
			<b>Proficient/Familiar With: </b><span class="resume-bullets">HTML/CSS/JS, R, Python, SAS, SQL, Github, Django, Flask, VBA</span><br>
			<b>Currently Learning: </b><span class="resume-bullets">SAS Visual Analytics, Emblem, Adobe Illustrator and Photoshop</span>
		</div>
		<br><br><br>
	</body>
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-50550538-1', 'auto');
  ga('send', 'pageview');

</script>
</html>