<!DOCTYPE html>
<html>
	<head>
		<!-- Add meta tags here -->
		<title>Resume</title>
		<!-- Add custom CSS here -->
		<link href="/static/css/style.css" type="text/css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:400,700,400italic' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=La+Belle+Aurore' rel='stylesheet' type='text/css'>
		<meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
		<link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
		<link rel="icon" href="/static/img/favicon.ico" type="image/x-icon">	
		<script type="text/javascript" src="/static/js/jquery-1.10.2.js" charset="utf-8"></script>
		<script type="text/javascript" src="/static/js/script.js" charset="utf-8"></script>
	</head>
	<body>
		<div id="toggle" >&#9776;</div>
		<div id="nav-bar">
			<a href="/">Home | About | Contact</a><br>
			<a href="/creative">Creative Pursuits</a><br>
			<a href="/projects">Projects</a><br>
			<a href="/resume">Resume</a>	
		</div>
		<div class="text-box">
			<div id="resume-title">Jaclyn Field Burge</div>
			<hr>
			<div id="resume-sublinks">
			<a href="mailto:jacburge@gmail.com" target="_blank">jacburge@gmail.com</a> | <a href="http://jacburge.me">jacburge.me</a> | <a href="http://linkedin.com/in/jacburge">linkedin/jacburge</a> | Seattle, WA
		</div>
		<br>
			<b>EXPERIENCE</b>
			<hr>
			<b>Data Analyst</b> - <b><em>Liberty Mutual Insurance<br>
			Seattle, WA (May 2014 - Aug 2014 | Jul 2015 - Present)</em></b>
			<ul>
				<li>[<b>Analyst Development Program</b> | Jul 2015 - Present] Identify key trends, insights, and driving forces in opportunity areas for a Fortune 100 company, evaluating best approaches with cross-functional communication. Propose actionable, data-driven recommendations to Senior Management, with forecasted impacts generating millions of dollars.</li>
				<li>[<b>Product Management Intern</b> | May 2014 - Aug 2014] Gathered and manipulated data using SAS, SQL, Teradata, Excel, and business reports to investigate ways of reducing risk while maximizing growth.  Utilized strong communication skills to present final recommendation for a countrywide initiative to the Senior VP of Product, with slides now used by the company as a positive example for storyboarding training purposes.</li>
			</ul>
			<br>
			<b>Educator</b> - <b><em>UC Berkeley Computer Science Department<br>
			Berkeley, CA (Jan 2013 - May 2015)</em></b>
			<ul>
				<li>[<b>Undergraduate Student Instructor</b> | Aug 14 - May 15] Administered interactive labs and taught discussion sections for students with no prior CS experience. (View course site: <a href="http://cs10.org/fa14">cs10.org/fa14</a>).</li>
				<li>[<b>Reader</b> | Aug 13 - May 14] Evaluated and graded student quizzes and projects. </li>
				<li>[<b>Lab Assistant</b> | Jan 13 - May 13] Guided and assisted students with learning the visual programming language Snap!</li>
				<li>[<b>Head of Content Development</b> | Jan 13 - Dec 13] Developed and implemented the best techniques in a revolutionary project to bring CS 10 to edX as a MOOC, (launched Fall 2015 at edX.org) with the goal of expanding computer science education accessibility world-wide. Researched user interfaces of free online education for computer science to create a wireframe recommendation for our course structure.</li>
			</ul>
			<br>
			<b>Web Developer</b> - <b><em>Regents' and Chancellor's Scholarship Association<br>
			Berkeley, CA (Jun 2014 - May 2015)</em></b>
			<ul>
				<li>Contributor to the official RCSA website. (View here: <a href="http://rcsa.berkeley.edu">RCSA</a>) Customized styling for the entire site beyond the default bootstrap basics.</li>
				<li>Led a workshop on Git Basics and Intro to HTML/CSS for current scholars. (View here: <a href="tinyurl.com/git-html-css-workshop).">slides).</a></li>
				<li>Responsible for front-end of the Scholar Connect program, allowing prospective students to contact current scholars. Includes Search Results and Scholar Contact profiles.</li>
				<li>Developed back-end functionality features to improve the Executive Dashboard.</li>
			</ul>
			<br>
			<b>Product Manager, Strategic Analyst, and Front-End UI Engineer</b> - <b><em>uGuru.me Tutoring Startup<br>
			Berkeley, CA (Jul 2013 - Mar 2014)</em></b>
			<ul>
				<li>uGuru.me is an early-stage startup following agile methods, making it easy and affordable for college students to find peer tutors.</li>
				<li>Designed wireframes and workflow specs. Implemented front-end design and best mobile UI practices.</li>
				<li>Managed the marketing and growth hacking team, communicating between our interns and back-end developer.</li>
				<li>Researched competing sites to evaluate which features may be most effective for developing business strategies.</li>
				<li>Conducted usability studies to optimize design and functionality, and performed data analysis using Google Analytics on 700+ tutor signups and 20k page views to make effective recommendations for marketing strategies.</li>
			</ul>
			<br>
			<b>Tutor</b> - <b><em>SAT Prep<br>
			Kingsburg, CA (Jun 2012 - Dec 2012)</em></b>
			<ul>
				<li>Initiated, developed, and taught a 3 week intensive and affordable summer group program, preparing high school students to take the SAT in an underprivileged area with limited opportunities.</li>
				<li>Helped all 10 students increase their SAT scores by an average of 200 points in the duration of the program. Provided continued mentorship throughout the college application process.</li>
			</ul>
			<br>
			<b>EDUCATION</b>
			<hr>
			<b>University of California, Berkeley</b><br>
			Bachelor of Arts, Cognitive Science, emphasis in Computer Science (Aug 2011 - May 2015)
			<ul>
				<li><b>Awards: </b>Regents’ and Chancellor’s Scholar, Dean’s Honors, Outstanding Graduate Student Instructor Award 2014-15</li>
				<li><b>Relevant Coursework: </b>Structure and Interpretation of Computer Programs; Discrete Mathematics, Probability, and Algorithms; Technology for Creativity and Learning (Graduate School of Information); Cognitive Neuroscience; Computational Models of Cognition</li>
			</ul>
			<br>
			<b>TECHNICAL SKILLS</b>
			<hr>
			<b>Proficient/Familiar With: </b>SAS, SQL, Python, HTML, CSS, JS, Github, Django, Flask, Excel, Microstrategy, Teradata<br>
			<b>Currently Learning: </b>R, VBA, SAS Visual Analytics, Adobe Illustrator and Photoshop
		</div>

	</body>
</html>